.registration-page {
  background-color: #2c4147;
  display: flex;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
  height: 100%;
  max-height: calc(100vh - var(--navbar-height));
  width: 100%;
  max-width: 100vw;
  justify-content: center;
}

.registration-page .card {
  min-height: 600px;
  width: 520px;
  padding: 24px 36px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  
}
.registration-page .footer{
  
    margin-top: 0px;
    color: white;
    height: 50px;
   
}